.title {
    font-size: 2.5vw;
}

.links {
    font-family: 'Work Sans Medium';
    font-size: 3.5vw;
    text-decoration: none;
    color: var(--text-color);
    transition: text-decoration 5s ease-in;
}

.links:hover {
    text-decoration: underline;
}

.to-top {
    margin: 10px auto;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: var(--dark);
    .bi {
        color: var(--background-color);
    }
}

@media (max-width: 575.98px) {
    .title {
        font-size: 5vw;
    }
    .content {
        flex-direction: column;
        margin-top: 10px !important;
        padding-top: 0 !important;
    }
    .links {
        text-decoration: underline;
    }
}