<div class="w-100 py-2 text-center overflow-visible" >
    <div class="title">
        About me
    </div>
    <div class="content d-flex">
        <img class="mist" src="../../../assets/images/mist1.svg" alt="mist">
        <div class="img-container">
            <img src="../../../assets/images/keys2.png" alt="Computer Image" >
        </div>
        <div class="text-container">
            I'm a software engineering student at VIT Chennai with experience in web development (React.js and Express.js) and Android app development. I also love designing user-friendly web and mobile applications using Figma. I'm excited to keep learning and transform ideas into real solutions.
        </div>
    </div>
</div>
