<div class="project-container d-flex flex-column justify-content-center w-100 overflow-visible" >
  <p class="title">My Projects</p>
  <div class="project d-flex w-100" *ngFor="let project of myProjects" [ngClass]="{ 'project-l': myProjects.indexOf(project)%2 == 0}">
    <div class="text-container d-flex flex-column justify-content-center w-50">
      <p class="name">{{project.title}}</p>
      <p class="description">{{project.description}}</p>
      <p class="field">{{project.field}}</p>
      <p class="timeline">{{project.timeline}}</p>
    </div>
    <div class="image-container d-flex w-50">
      <img src={{project.image}}>
      <a href={{project.link}} class="link" target="_blank">View on {{project.media}}</a>
    </div>
  </div>
</div>
