.title {
    margin-left: 5vw;
}
.project {
    margin-bottom: 2vw;
    .image-container {
        justify-content: start;
        img {
            width: 80%;
        }
        .link {
            width:40vw;
            height: 35vw;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            visibility: hidden;
        }
        img:hover .link{
            background-color: #0000005b;
            visibility: visible;
            color: white;
            font-size: large;
            font-weight: 600;
        }
    }
    .text-container {
        align-items: end;
        p {
            padding: 0 5vw;
            margin-bottom: 0px;
            font-size: 1.5vw;
        }
        .name {
            font: 5vw 'Work Sans Medium';
        }
        
    }
    
}
.btn {
    width: fit-content;
    background: var(--background-color);
    border: 1px solid var(--text-color);
    margin-left: auto;
    margin-right: auto;
    padding: 3vw;
    margin-top: 3%;
    margin-bottom: 5%;
    transition: 100ms;
}
.link {
    margin-right: 5vw;
}

.btn:hover {
    background-color: var(--primary);
    font-family: 'Work Sans Medium';
    color: var(--background-color);
    border: 1px solid var(--primary);
}
.project-l {
    flex-direction: row-reverse;
    .text-container {
        align-items: start;
    }
    .image-container {
        justify-content: end;
    }
    .link {
        margin-left: 5vw;
    }
}

@media (max-width: 575.98px ) {
    .title {
        margin-right: auto !important;
        margin-left: auto !important    ;
    }
    .project {
        flex-direction: column-reverse;
        align-items: center;
        * {
            width: 80% !important;
            justify-content: center !important;
        }
        .text-container {
            margin: 2vw 0;
            align-items: center;
            p {
                padding: 0;
                width: 100%;
            }
        }
    }
}