.mist {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    overflow: visible;
    margin-top: -8vw;

}

@media (max-width: 575.98px) {
    .mist {
        margin-top: -10vh;;
    }
}