<!-- <div class="cursor" [style.top]="top" [style.left]="left" [ngClass]="{'expand':expand}"></div> -->
<ngx-spinner bdColor = "#121315" size = "medium" color = "#30e5e8" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<app-navbar class="light-theme" ></app-navbar>
<app-home class="light-theme"></app-home>
<app-about class="light-theme"></app-about>
<app-skills class="light-theme"></app-skills>
<app-project class="light-theme"></app-project>
<app-contact class="light-theme"></app-contact>
<app-footer class="light-theme"></app-footer>