<div class="skill-container d-flex flex-row-reverse justify-content-between align-items-center w-100 overflow-visible" >
    <p class="title w-40 mx-auto">My Skills</p>
    <mat-tab-group class="skills w-60 mx-auto my-4" color="#30E5E8">
        <mat-tab *ngFor="let field of mySkills" [label]="field.title" class="skill-tab" style=".nav-link {color: black;}">
            <div *ngFor="let skill of field.skills" class="each-skill d-flex align-items-center">
                <p class="text-container">{{skill.title}}</p>
                <div class="img-container" ><img src={{skill.image}}></div>
                <div class="progress"  role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" [ngStyle]='{ width : skill.expertise }'></div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
