.skill-title {
    font: 7.5vw 'Work Sans Medium';
    font-weight: 500;
}

:host ::ng-deep .skill-tab {
    background-color: white;
}

.each-skill {
    width: 100%;
    column-gap: 5%;
    margin-bottom: 10px;
    
    .text-container {
        text-align: end;
        flex: 20%;
    }
    .img-container {
        flex: 10%;
        width: max-content;
        img {
            height: 24px;
        }
    }
    .progress {
        flex: 65%;
        background: none;
        .progress-bar {
            border-radius: 24px;
            background-color: var(--primary);
        }
    }
}