.skills {
    padding: 1%;
    box-shadow: 5px 5px 50px #00000012;
    border-radius: 30px;
    background-color: var(--background-color-60);
    .skill-tab {
        .nav-link {
            color: black;
        }
    }
}

.mat-mdc-tab .mdc-tab__text-label {
    color: var(--text-color);
}

.skill-container .mist {
    position: absolute;
    height: 100vw;
    min-height: 500px;
    width: 100%;
    z-index: -1;
    overflow: visible;
}

.each-skill {
    width: 100%;
    column-gap: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    
    .text-container {
        text-align: end;
        flex: 20%;
    }
    .img-container {
        flex: 10%;
        width: max-content;
        img {
            height: 24px;
        }
    }
    .progress {
        flex: 65%;
        background: none;
        .progress-bar {
            border-radius: 24px;
            background-color: var(--primary);
        }
    }
}

@media (max-width: 575.98px) {
    .skill-container {
        flex-direction: column !important;

        // .mist {
        //     margin-top: -10vh;
        // }

        .mat-mdc-tab-group {
            max-width: 90% !important;
        }
    }
}

@media (max-width: 991.98px) {
    .skill-container {
        .mat-mdc-tab-group {
            max-width: 50%;
        }
        .each-skill {
            margin-top: 5px;
            justify-content: space-between;
            align-items: stretch;

            .text-container {
                flex: 30%;
            }
            .img-container {
                justify-content: center;
                align-items: center;
                flex: 20%;
            }
        }
    }
}

@media (max-width: 767.98px) {
    .skill-container .each-skill .text-container {
        flex: 40%;
    }
}