<div class="d-flex flex-row-reverse justify-content-between align-items-center w-100">
    <tabset type="none" class="skills w-60 mx-auto my-4">
        <tab heading="Skills" style="font-weight: 800;" [disabled]="true"></tab>
        <tab *ngFor="let field of this.mySkills" [heading]="field.title" customClass="skill-tab">
            <div *ngFor="let skill of field.skills" class="each-skill d-flex align-items-center">
                <p class="text-container">{{skill.title}}</p>
                <div class="img-container" ><img src={{skill.image}}></div>
                <div class="progress"  role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" [ngStyle]='{ width : skill.expertise }'></div>
                </div>
            </div>
        </tab>
    </tabset>
</div>
